{% extends 'layouts/master.html' %}

{% block title %}
    Order List
{% endblock title %}

{% block content %}
<div class="container pt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Order List</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bill ID</th>
                <th>Items</th>
                <th>Seller</th>
                <th>Customer</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
                <tr>
                    <td>{{ bill.invoice_no }}</td>
                    <td>{{ bill.item }}</td>
                    <td>{{ bill.seller_name }}</td>
                    <td>{{ bill.customer_name }}</td>
                    <td>{{ bill.category }}</td>
                    <td>{{ bill.amount }}</td>
                    <td> 
                        <a href="{% url 'view-bill' bill.id %}" class="btn btn-secondary btn-sm">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
